@font-face {
    font-family: acrom800;
    src: url("../fonts/acrom800.otf");
}

@font-face {
    font-family: AcromExtraBold;
    src: url("../fonts/The Northern Block - Acrom ExtraBold.otf");
}

@font-face {
    font-family: acromlight;
    src: url("../fonts/Acrom Regular.otf");
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: acromlight, Tahoma sans-serif;
}

h1, h2 {
    text-transform: uppercase;
}

h1, h2, h3 {
    font-family: AcromExtraBold, Tahoma sans-serif;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.5rem;
}

.container{
    padding: 0;
}

body {
    font-family: acromlight, Tahoma sans-serif;
}


.header {
    width: 100%;
    background-color: #181c27;
    padding: 25px 0 144px 0;
    position: relative;
}

.header::before {
    position: absolute;
    content: "";
    display: block;
    width: 47%;
    height: 100%;
    background-image: url("../img/computer.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    right: 0;
}
.header__row {
    margin-bottom: 70px;
}
.phone-number{
    font-family: acrom800, Tahoma sans-serif;
    text-decoration: none;
    color: white;
    font-size: 0.875rem;
    font-weight: bold;
}

.header__item {
    margin-bottom: 45px;
}

.header__item--third {
    margin-bottom: 0;
}

.header__item:last-child {
    margin-bottom: 0;
}

.header__item.header__item--third .text-white {
    font-family: Acromlight, Tahoma sans-serif;
}

.logo {
    display: block;
    width: 100px;
}

span {
    color: #e3570c;
}

p {
    font-family: acrom800, Tahoma sans-serif;
    font-size: 1.125rem;
    color: #959595;
    font-weight: 100;
    margin-bottom: 24px;
}

.text-white {
    font-family: acrom800, Tahoma sans-serif;
    color: #ffe5e5;
}

.text-orange {
    font-family: acrom800, Tahoma sans-serif;
    color: #e3570c;
    font-size: 1rem;
    font-weight: bold;
}

.text-white-huge {
    font-family: acrom800, Tahoma sans-serif;
    font-size: 2.5rem;
    color: #fff;
    font-weight: bold;
}

.text-white-huge--paragraph {
    font-size: 1.875rem;
    color: #fff;
}

.wrapper-second {
    margin-bottom: 20px;
}

.text-white-smaller {
    font-family: acrom800, Tahoma sans-serif;
    font-size: 1.875rem;
    color: #fff;
    font-weight: bold;
}

span.bgc-white {
    padding: 2px;
    line-height: 2.2;
    font-family: Acromlight, Tahoma sans-serif;
    color: #000;
    background-color: #fff;
    font-size: 1.125rem;

}

div.header__item>div.button-head {
    margin-top: 58px;
}

.button-head {
    padding: 20px 47px;
    background-color: #ff6b08;
    border: none;
    color: #fff;
    font-family: acrom800, Tahoma sans-serif;
}


.button-link {
    margin-top: 54px;
}


.button-link:hover {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.button-head:hover {
    background-color: #e3570c;
    cursor: pointer;
}

.button-link:focus, .button-head:focus {
    outline: none;
}

.wrapper-main {
    padding-top: 100px;
}

.first-section__one {
    /*margin-top: 260px;*/
    padding-bottom: 84px;
}

.text-black-huge {
    font-family: acrom800, Tahoma sans-serif;
    font-size: 2.5rem;
    color: #000;
    font-weight: bold;
}

.text-black {
    font-family: acrom800, Tahoma sans-serif;
    font-weight: bold;
    color: #000;
    font-size: 1.5rem;
}

.text-black-smaller{
    font-family: acrom800, Tahoma sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
}

.text-white__small{
    font-family: acrom800, Tahoma sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 1rem;
    margin-bottom: 0;
}

.list-left>li, ul.list li {
    font-family: acromlight, Tahoma sans-serif;
    list-style: square;
    font-size: 1.125rem;
    color: #000;
    margin-bottom: 34px;
}

.second-section-header ul.list li {
    color: #e0e0e0;
}

.list-left>li, .list-right>li {
    list-style: none;
}

.list-left>li::before {
    content: "\25a0";
    color: black;
    position: absolute;
    left: -5%;
}

.list-left {
    margin-left: 22px;
}

.list-right>li {
    font-family: acromlight, Tahoma sans-serif;
    font-size: 1.125rem;
    color: #000;
    margin-bottom: 34px;
}

.list-right>li::before {
    content: "\25a0";
    color: black;
    position: absolute;
    left: -5%;
}

.list-right {
    margin-left: 22px;
}

.bgc-black {
    font-family: acrom800, Tahoma sans-serif;
    margin-top: 86px;
    background-color: #000;
    color: #fff;
    font-size: 1.125rem;
    padding: 0 7px;
}

.bgc-area {
    font-family: acrom800, Tahoma sans-serif;
    margin-top: 86px;
}

.text-main__black {
    font-family: acrom800, Tahoma sans-serif;
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 30px;
}

.text-main__orange {
    font-family: acrom800, Tahoma sans-serif;
    color: #ff6b08;
    font-size: 1.9rem;
    font-weight: bold;
}


.text-go {
    padding-top: 90px;
    background: url("../img/GO.png") no-repeat;
    background-position: top left;
}

.list-second {
    counter-reset: section;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 400px;
    margin-top: 58px;
}

.list-second>li {
    position: relative;
    font-family: acromlight, Tahoma sans-serif;
    font-size: 1.125rem;
    margin-bottom: 58px;
    list-style: none;
    color: #000;
}

.list-second>li:before {
    content: "\25fc" "0" counter(section);
    counter-increment: section;
    position: absolute;
    top: -27px;
    left: 0;
    font-size: 0.875rem;
    font-family: acrom800, Tahoma sans-serif;
    color: black;
}

ul.list.list-left li span {
    color: #000;
}

.list-second>li:nth-child(2) {
    margin-bottom: 0;
}

.list-second>li:nth-child(5) {
    margin-bottom: 0;
}

.text-black-middle {
    font-size: 2.25rem;
    font-family: acrom800, Tahoma sans-serif;
}

.wrapper-main__fifth {
    margin-top: 136px;
    margin-bottom: 170px;
}

.text-orange-middle {
    color: #ff6b08;
}

.text-small-silver {
    font-size: 1.125rem;
    color: #6b6f7a;
    font-family: acromlight, Tahoma sans-serif;
}

.wrapper-main__sixth {
    margin-bottom: 108px;
}

.text-middle__smaller {
    font-size: 1.875rem;
    font-family: AcromExtraBold, Tahoma sans-serif;
    padding-top: 40px;

}

.text-small-silver__margin {
    margin-top: 28px;
}

.bgc-area-align {
    text-align: center;
}

.bgc-black__lighter {
    font-family: acromlight, Tahoma sans-serif;
    line-height: 35px;
}

.wrapper-main__seventh {
    margin-bottom: 100px;
}

.wrapper-main__eigth {
    margin-bottom: 100px;
}

.butt-one {
    position: static;
}

.text-black-timer {
    font-size: 2.25rem;
    font-family: AcromExtraBold, Tahoma sans-serif;
    color: black;
    margin-bottom: 10px;
    margin-top: -22px;
    width: 78%;
}

.timer-top {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -28px;
    width: 78%;
}

.timer-top>.text-small-silver {
    margin-bottom: 10px;
}

.timer-top p {
    font-size: 0.875rem;
    width: 45px;
    text-align: center;
}

.timer-top .day {
    text-align: left;
    padding-left: 5px;
}

.timer-top .seconds {
    text-align: right;
}

.timer-value > p {
    display: flex;
    justify-content: space-around;
}

.timer-value span {
    color: #000000;
    width: 50px;
    text-align: center;
}

.img-right {
    top: 41%;
    left: 16%;
}

.wrapper-main__eigth {
    margin-bottom: 172px;
}

.wrapper-main__ninth {
    margin-bottom: 180px;
}

.second-section-header, .third-section-header {
    background: url('../img/second-section-header.jpg')
}



ul.list {
    margin: 60px 0;
}

ul.list li {
    list-style: none;
    display: flex;
    padding-right: 40px;
    margin-bottom: 25px;
}

ul.list li:before {
    content: "\25fc";
    margin-right: 15px;
    display: inline-block;
    position: relative;
    font-size: 0.7rem;
    font-family: acrom800, Tahoma sans-serif;
    color: #000;
}

ul.list--counter-top, ul.list--counter-left {
    counter-reset: count;
}

ul.list--counter-top li {
    display: inline-block;
    position: relative;
}

ul.list--counter-left li:before {
    padding-top: 5px;
    content: "\25fc \ 0" counter(count);
    counter-increment: count;
    text-align: right;
    max-width: 20px;
    line-height: 14px;
}

ul.list--counter-top li:before {
    content: "\25fc   0" counter(count);
    counter-increment: count;
    position: relative;
    width: 100%;
    color: #959595;
    font-size: 0.875rem;
    font-family: AcromExtraBold, Tahoma sans-serif;
}
ul.list.list-left li:nth-child(even) {
    padding-left: 15px;
}

.column-right {
    padding: 0 100px;
}

.second-section-wrapper {
    padding: 150px 0;
}

.second-section ul.list li {
    margin-bottom: 25px;
    color: #959595;
    position: relative;
}

.second-section-header ul.list li:before {
    color: #e0e0e0;
}

.second-section-header .column-left {
    padding-top: 150px;
    padding-right: 120px;
}

.second-section-header .column-right {
    background: url(../img/Plashka.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 270px 100px 0;
    height: 100%;
}

.second-section_firstrow {
    background-image: url('../img/go_it_2.png');
    background-repeat: no-repeat;
}

section.header.third-section h2 {
    font-size: 4.5rem;
    margin-top: 150px;
    margin-bottom: 90px;
}

p.text-subscribe {
    text-align: right;
    color: #000;
    font-size: 1.5rem;
}

.img-svg {
    position: absolute;
    top: 61%;
    left: -28%;
    width: 54px;
    height: 21px;
}

.img-right {
    top: 41%;
    left: 16%;
}

.text-small-silver {
    font-family: acromlight, Tahoma sans-serif;
}

.number-1 {
    display: flex;
    justify-content: flex-start;
    background: url("../img/Img_3.png") no-repeat;
    background-position: 572px 20px;
    padding-left: 0;
    padding-top: 60px;
    padding-bottom: 100px;
    padding-right: 400px;
}

.first-section__four {
    padding-top: 50px;
    padding-bottom: 50px;
}

.text-last {
    padding-top: 100px;
    padding-bottom: 20px;
}


.go-background:before {
    content: '';
    position: absolute;
    top: -85%;
    right: 0;
    min-width: 257px;
    min-height: 508px;
    background: url(../img/GO2.png);
    
}

.third-section-header p.choise-text {
    padding-bottom: 15px;
    display: block;
    position: relative;
    font-size: 1.5rem;
    text-align: left;
    color: #ff6b08 !important;
    margin: 0;
    line-height: 1.5rem;
}

body .modal {
    padding: 47px 100px !important;
}

/* .choise-text:before {
    content: '';
    display: block;
    min-width: 50px;
    min-height: 5px;
    position: absolute;
    bottom: 0;
    left: 70px;
    background-image: url(../img/shape.png);
    background-repeat: no-repeat;
} */

.second-section-wrapper .button-head {
    margin-top: 15px;
}

section.second-section-wrapper.second-section-wrapper--second .column-right {
    padding-right: 0;
}

.second-section-header .button-head,
.second-section-wrapper .button-head,
.third-section-header .button-head {
    padding: 20px 40px;
    width: 100%;
}

.second-section-wrapper .row-delimiter h3 {
    display: inline-block;
    position: relative;
}

.second-section-wrapper .row-delimiter h3:after {
    content: '';
    min-width: 50px;
    min-height: 15px;
    display: block;
    position: absolute;
    top: 50%;
    right: -55px;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    transform: translate(0, -50%);
}

.timer-value.bottom:after {
    content: '';
    min-width: 50px;
    min-height: 15px;
    display: block;
    position: absolute;
    top: 41%;
    right: -15px;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    transform: translate(0, 0);
}

.choise-wrapper {
    padding-top: 70px;
    padding-bottom: 90px;
}

.choise-wrapper.right {
    padding-top: 45px;
}

.logo-bottom {
    margin-bottom: 20px;
}

.footer {
    background-color: #121212;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    font-family: acromlight, sans-serif;
    font-weight: 300;
    line-height: 1;
    vertical-align: middle;
    list-style: none;
    font-size: 0.75rem;
    color: #999;
}

/*.footer-links a {*/
    /*font-size: 0.75rem;*/
    /*color: #999;*/
/*}*/

.footer-links li:hover {
    text-decoration: none;
    color: #fff;
} 

section.third-section.third-section-header h2.text-white-huge {
    font-size: 5.5rem;
    font-family: AcromExtraBold, Tahoma sans-serif;
    padding-top: 80px;
    padding-bottom: 80px;
}

section.third-section.third-section-header h3.text-white{
    font-size: 1.875rem;
    font-family: AcromExtraBold, Tahoma sans-serif;
}

ul.list.list-left {
    display: flex;
    flex-wrap: wrap;
}

.second-section_firstrow ul.list-left li {
    width: 50%;
}

.second-section-wrapper--first {
    padding-bottom: 0;
}

.modal {
    position: fixed;
    z-index: 1050;
    display: none;
    /*overflow: hidden !important;*/
    outline: 0;
    opacity: 0;
    background-color: #fff;
    text-align: center;
    top: 50%;
    left: 50%;
    width: 55%;
    min-width: 300px;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateX(-50%) translateY(-50%);
    transition: all .8s;
    padding: 60px;
}
.show {
    opacity: 1;
}
.rezart-logo {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

span.present-ico {
    display: inline-block;
    width: 70px;
    height: 70px;
    background-image: url(../img/bonus.png);
    background-repeat: no-repeat;
}

.third-section-header p:not(.text-white-timer) {
    color: #e0e0e0;
    font-family: acromlight, Tahoma sans-serif;
}

.third-section-header .timer-top.timer-bottom {
    margin-top: 0;
    max-width: 400px;
}

.timer-value.bottom {
    max-width: 400px;
}

.section-unique {
    margin-bottom: 80px;
}


b {
    font-weight: 900;
    font-family: AcromExtraBold, sans-serif;
}

.text-middle__area {
    margin-bottom: 40px;
}

.header__item>.timer-bottom>p {
    margin-top: 0;
    color: #fff;
    
}

.header__item>div.timer-bottom {
    margin-top: -10px;
    margin-bottom: 34px;
}

.text-white-timer {
    font-size: 2.25rem;
    font-family: AcromExtraBold, Tahoma sans-serif;
    color: white;
    margin-bottom: 0;
    margin-top: 0;
}

.timer-bottom {
    width: 100%;
}

.text-white-timer>span {
    color: white;
}

.text-black-smaller__margin {
    margin-left: 25px;
}

img.arrow-down {
    position: absolute;
    top: 43%;
    right: 0;
}

.text-white-huge__margin {
    margin-bottom: 32px;
}

.button-head__margin {
    margin-top: 50px;
}

.text-color-unique {
    color: #e0e0e0;
}

.header-cenetered {
    text-align: center;
}

.repeta-foto {
    max-height: 350px;
    margin: 0 auto;
    position: relative;
    display: block;
}

.foto-wrap {
    position: relative;
    padding-top: 65px;
}

.header-cenetered h3 {
    color: #ff6b08;
}

@media all and (min-width: 769px) and (max-width: 960px){

    .second-section-header .column-right {
        padding: 70px 100px;

    }

    .second-section-header .column-right .button-wrapper,
    .second-section-wrapper .column-right .button-wrapper,
    .third-section .column-right .button-wrapper{
        text-align: center;
    }

    .choise-wrapper {
        padding-bottom: 40px;
    }

    .choise-text:after, .second-section-wrapper .row-delimiter h3:after {
        content: '';
        min-width: 50px;
        min-height: 15px;
        display: block;
        position: absolute;
        top: unset;
        right: unset;
        bottom: -70px;
        left: 50%;
        background-image: url(../img/arrow.png);
        background-repeat: no-repeat;
        transform: translate(0, -50%);
        transform: rotate(90deg);
    }

    .second-section-wrapper .row-delimiter h3:after {
        display: none;
    }

    .third-section-header .col-md-6 .column-right {
        text-align: left;
        padding: 0 15px;
    }

    .first-order {
        order: 2;
    }

    .second-order {
        order: 1;
        margin-bottom: 20px;
    }
    .wasserman {
        text-align: center;
    }
}

@media all and (max-width: 768px){

    .modal {
        width: 100%;
    }

    .header {
        padding-bottom: 0;
    }

    .wrapper-main {
        padding-top: 0;
    }

    .butt {
        justify-content: center;
    }

    .section-unique {
        margin-bottom: 0;
    }

    .bgc-area {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .text-black-timer {
        width: 100%;
    }

    .timer-top {
        width: 100%;
    }

    .bgc-area-align span.bgc-black.bgc-black__lighter {
        font-size: 0.8rem;
    }

    .bgc-area-align {
        margin-top: 36px;
    }

    .number-1 {
        /*padding-left: 0;*/
        padding: 50px 0;
    }

    .text-black-middle {
        font-size: 2.2rem;
        text-align: center;
    }

    .text-black-huge {
        font-size: 2.3rem;
    }
    .text-black {
        font-size: 1.3rem;
    }

    div.wasserman > p.text-small-silver {
        font-size: 0.9rem;
    }
    .list-second>li {
        font-size: 0.925rem;
    }

    .button-link {
        margin-top: 88px;
    }

    .list-second>li {
        font-size: 0.925rem;
    }

    .column-right, .wrapper-main__first .button-wrapper {
        text-align: center;
    }

    .wrapper-main__first .img-svg.img-right {
        transform: rotate(90deg);
    }

    .text-white-huge {
        font-size: 2.3rem;
    }

    .second-section-header .list--counter-top {
        text-align: left;
    }

    .second-section-header .column-right {
        padding: 70px 100px;

    }

    .second-section-header .column-right .text-white-huge--paragraph {
        text-align: left;
    }

    .second-section-header .column-left {
        padding-right: 0;
    }

    .choise-wrapper {
        padding-bottom: 40px;
        text-align: center;
    }

    .timer-value.bottom:after, .second-section-wrapper .row-delimiter h3:after {
        content: '';
        min-width: 50px;
        min-height: 15px;
        display: block;
        position: absolute;
        top: unset;
        right: unset;
        bottom: -70px;
        left: 50%;
        background-image: url(../img/arrow.png);
        background-repeat: no-repeat;
        transform: translate(-50%, -50%) rotate(90deg);
     }

    .choise-text:after {
        display: none;
    }

    .third-section-header .col-md-6 .column-right {
        text-align: left;
        padding: 0 15px;
    }

    .second-section-wrapper {
        padding: 50px 10px !important;
    }

    .first-order {
        order: 2;
    }

    .second-order {
        order: 1;
        margin-bottom: 20px;
    }

    .wasserman {
        text-align: center;
    }
    
    section.second-section-wrapper.second-section-wrapper--second .column-right {
        padding: 0 100px;
    }

    .timer-value.bottom, .third-section-header .timer-top.timer-bottom {
        position: relative;
        margin: 0 auto;
    }
}

@media all and (max-width: 480px){

    body .modal {
        padding: 15px !important;
    }

     .modal {
        width: 100%;
    }

    .number-1 {
        padding-left: 0;
    }

    h3.text-black-huge,
    .text-black-middle {
        font-size: 2rem;
    }

    button.button-head {
        font-size: .8rem;
    }

    ul.footer-links {
        flex-wrap: wrap;
    }

    .wrapper-main {
        padding-top: 0;
    }

    .number-1 {
        padding-right: 0;
    }

    .img-svg-hidden {
        display: none;
    }

    .button-link {
        margin-top: 0px;
    }

    header, footer, section {
        padding: 0 10px !important;
    }

    header {
        padding-top: 25px !important;
    }

    .second-section_firstrow ul.list-left li {
        width: 100%;
    }

    ul.list.list-left li:nth-child(even) {
        padding: 0;
    }

    .column-right,
    .third-section-header .col-md-6 .column-right,
    section.second-section-wrapper.second-section-wrapper--second .column-right
    {
        padding: 0;
    }

    .second-section-header .column-right {
        padding: 70px 0;
    }

    .list-second {
        height: auto;
    }

    .list-second br {
        display: none;
    }

    .list-second>li:nth-child(2) {
        margin-bottom: 58px;
    }

    .timer-top {
        margin-top: 20px;
    }

    .first-section__four .button-wrapper, .first-section__one .button-wrapper {
        text-align: center;
    }

    .first-section__two {
        padding-top: 50px !important;
    }

    .second-section-header .column-right .text-white-huge--paragraph {
        text-align: center;
    }
}

.butt {
    margin-top: 20px;
}

.modal-head h4 {
    color: #000;
    font-family: AcromExtraBold,sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
    text-transform: uppercase;
}

.modal-head {
    text-align: center;
}

body .modal-head h4 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.modal-content {
    border: none;
    text-align: justify;

}

.modal-content p {
    font-family: acromlight, sans-serif;
    font-size: 1rem;
}

.enrollment-form.modal-form {
    background-color: transparent;
    padding: 0;
    min-height: 100%;
    margin-top: 20px;
    box-shadow: 0 22px 43px transparent;
}

.enrollment-form label {
    opacity: .36;
    position: relative;
    color: #fff;
    font-family: AcromExtraBold, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: left;
}

.enrollment-form label input, .enrollment-form label select {
    color: #fff;
    font-family: acromlight, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    border: 0;
    border-bottom: 1px solid #6b6f7a;
    padding: 11px 1px;
    background-color: transparent;
    display: block;
    width: 100%;
}

.enrollment-form.modal-form input, .enrollment-form.modal-form select {
    color: #000;
    border-bottom: 1px solid #000;
    background-color: transparent;
}

.enrollment-form.modal-form label {
    opacity: 1;
    color: #000;
    margin-bottom: 20px;
}

.popup__close {
    width: 21px;
    height: 19px;
    background: url(../img/close.png) no-repeat;
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
    opacity: .5;
    font-size: 30px;
}

.enrollment-form.modal-form button {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 100%;
}

.registration-btn {
    background-color: #ff6b08;
    padding: 17px 25px 15px;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    color: #fff;
    font-family: acromlight, sans-serif;
    font-size: 11px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    cursor: pointer;
    border: 0;
}

.enrollment-form.modal-form input:focus {
    outline: none;
}

.modal-bottom {
    overflow: scroll;
}

.footer-list li {
    color: #65666a;
    font-family: acromlight, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
}
.modal-btn {
    cursor: pointer;
}

.modal.large {
    max-width: 680px;
    max-height: 550px;
    overflow-y: scroll;
    padding: 20px;
}

.text-inline {
    display: inline;
}

.plus-big {
    font-size: 4.5rem;
    color: white;
}

@media all and (max-width: 320px){

    #myProgress {
        margin-top: 34px;
    }

    #modal_4 p input {
        width: 275px !important;
    }

    .modal {
        width: 100%;
    }

    body .modal {
        padding: 10px !important;
    }

    button.button-head,
    .second-section-header .button-head,
    .second-section-wrapper .button-head,
    .third-section-header .button-head {
        padding: 20px;
    }

    .img-line {
        margin-left: 0;
    }

    section.third-section.third-section-header h3.text-white {
        font-size: 1.5rem;
    }

    section.third-section.third-section-header h2.text-white-huge {
        font-size: 4rem;
        text-align: center;
    }

    .list-left>li::before {
        left: 0;
    }

    .list-right>li::before {
        left: 0;
    }

    .header::before {
        left: 0;
    }

    .wrapper-main__first .img-svg.img-right {
        display: none;
    }

    .bgc-area {
        text-align: center;
    }

    .text-main__area {
        text-align: center;
    }

    .text-last {
        text-align: center;
    }
    .text-middle__area {
        text-align: center;
    }

    .wasserman {
        text-align: center;
    }

    .text-go {
        text-align: center;
    }

    .text-second-section_firstrow {
        text-align: center;
    }

    .header__item {
        text-align: center;
    }

    .second-section-header .column-right .text-white-huge--paragraph {
        text-align: center;
    }
}

@media all and (max-width: 1024px) and (min-width: 960px) {
    .column-right {
        padding: 0 74px;
    }

    .second-section-wrapper .button-head {
        margin-top: 30px;
    }

    .second-section-header .column-right {
        padding: 270px 74px 0;
    }


    .offset-lg-3 {
        margin-left: 20%;
    }
}

.img-center {
    display: block;
    margin: auto;
}

@media all and (min-width: 1024px) {

    .img-wasserman {
        margin: 0;
        margin-left: auto;
    }
}

@media all and (max-width: 1024px){
    .modal {
        width: 90%;
    }
}

.text-align-center {
    text-align: center;
}

.text-black-add {
    color: #000;
}

#myProgress {
    position: relative;
    background-color: #f2f2f2;
    margin-bottom: 34px;
}

#all {
    font-size: 1rem;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    font-style: normal;
}

#myBar {
    height: 30px;
    background-image: -webkit-linear-gradient(90deg,#029e52 0,#00bc61 100%);
}

#modal_4 h4 {
    font-size: 14px;
    font-weight: 500;
    color: #9b9b9b;
    line-height: 1.2;
    margin-bottom: 50px;
}

#modal_4 p {
    font-size: 1.25rem;
    font-weight: 500;
    color: #000;
    line-height: 30px;
    text-align: left;
    margin-bottom: 0;
}

#modal_4 p input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    width: 300px;
    border-bottom: 2px solid #ff6b08;
    outline: 0;
    font-size: 20px;
    font-family: batman;
    font-weight: 500;
    padding-left: 6px;
    margin-bottom: 0;
}

.submit-wrap {
    text-align: center;
    padding-top: 90px;
}

.submit-wrap button {
    height: 80px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    width: 450px;
    max-width: 100%;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: batman;
    letter-spacing: .025em;
    background-color: #ff6b08;
    color: #fff;
    font-family: acrom800, Tahoma sans-serif;
}

#modal_4 .info {
    font-size: 1rem;
    color: #9b9b9b;
    padding: 28px 0 40px;
    text-align: center;
}

button.mfp-close {
    overflow: visible;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: 0;
    padding: 0;
    z-index: 1046;
    -webkit-box-shadow: none;
    box-shadow: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.mfp-close-btn-in .mfp-close {
    color: #333;
}

.mfp-close {
    opacity: 1;
    font-weight: 700;
    right: -5px;
    top: -5px;
    font-size: 38px;
}

.mfp-close {
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    text-align: center;
    opacity: .65;
    padding: 0 0 18px 10px;
    color: #000;
    font-style: normal;
    font-size: 44px;
    font-family: Arial,Baskerville,monospace;
}

.submit-wrap button:hover {
    cursor: pointer;
}

.column-left>ul.list>li {
    display: block;
}